{% extends 'index.html' %}
{% block title %}Mahasiswa - E-Presence {% endblock %}
{% block content %}

        <div class="header bg-primary pb-6">
          <div class="container-fluid">
            <div class="header-body">
              <div class="row align-items-center pt-5 pb-4">
                <div class="col-lg-12">
                  <h6 class="h2 text-white d-inline-block mb-2">Data Mahasiswa</h6>
                  <p class="h2 text-white"><small>
                    Data seluruh mahasiswa di JTIK Politeknik Negeri Jakarta
                  </small></p>
                </div>
                <div class="col-lg-12 text-right pt-3">
                  <form action="/mhs/search" method="POST">
                    <div class="input-group mb-3" style="width:90%; max-width: 300px; float: right;">
                      <input type="text" class="form-control form-control-sm" name="searchMhs" placeholder="Nama Mahasiswa" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-default btn-sm" type="submit" id="button-addon2">Cari Data</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% if mt: %}
        <div class="container-fluid mt--6">
          <div class="row">
            <div class="col">
              <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                  <h3 class="mb-0">Ubah Data Mahasiswa : </h3>
                </div>
                <div class="card-body">
                  <form role="form" action="/mhs" method="POST">
                    <input type="text" name="inputMt" value="update" hidden>
                    <input type="text" name="inputId" value="{{id}}" hidden>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Prodi</label>
                          <select class="form-control" name="inputKelas" required>
                            {% for row in kelas: %}
                            <option value="{{row['kelas']}}">{{row['kelas']}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Nama</label>
                          <input type="text" name="inputNama" class="form-control" value="{{nama}}" required>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">NIM</label>
                          <input type="text" name="inputNim" class="form-control" value="{{nim}}" required>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Email</label>
                          <input type="email" name="inputEmail" class="form-control" value="{{email}}" required>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Password</label>
                          <input type="text" name="inputPassword" class="form-control" value="{{password}}" required>
                        </div>
                      </div>
                    </div>
                    <div class="mt-4">
                      <button type="submit" id="btn-2" class="btn btn-primary">Ubah Data</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div id="satu" class="container-fluid mt--6">
          <div class="row">
            <div class="col">
              <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                  {% if session['level'] == 'admin' :%}
                  <a class="btn btn-sm btn-default float-right text-white" id="btn-1">
                    Tambah Data +
                  </a>
                  {% endif %}
                  <h3 class="mb-0">Data mahasiswa</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col" class="sort text-center" data-sort="name">Prodi</th>
                        <th scope="col" class="sort text-center" data-sort="name">Kelas</th>
                        <th scope="col" class="sort text-center" data-sort="name">Nama</th>
                        <th scope="col" class="sort text-center" data-sort="name">Nim</th>
                        <th scope="col" class="sort text-center" data-sort="name">Email</th>
                        {% if session['level'] == 'admin' :%}
                        <th scope="col" class="sort text-center" data-sort="name">Password</th>
                        <th scope="col"></th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody class="list">
                      {% for row in mhs : %}
                      <tr>
                        <td class="text-center">{{row['prodi']}}</td>
                        <td class="text-center">{{row['kelas']}}</td>
                        <td class="text-center">{{row['nama']}}</td>
                        <td class="text-center">{{row['nim']}}</td>
                        <td class="text-center">{{row['email']}}</td>
                        {% if session['level'] == 'admin' :%}
                        <td class="text-center">{{row['password']}}</td>
                        <td class="text-right">
                          <a href="/mhs?mt=update&id={{row['id']}}" class="btn btn-info btn-sm text-white"><i class="fi fi-spinner-refresh"></i></a>
                          <a href="/delete/mhs/{{row['id']}}" class="btn btn-danger btn-sm"><i class="fi fi-close-a"></i></a>
                        </td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="dua" class="d-none">
          <div class="row">
            <div class="col">
              <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                  <h3 class="mb-0">Tambahkan Data Mahasiswa : </h3>
                </div>
                <div class="card-body">
                  <form role="form" action="/mhs" method="POST">
                    <input type="text" name="inputMt" value="create" hidden>
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Kelas</label>
                          <select class="form-control" name="inputKelas" required>
                            {% for row in kelas: %}
                            <option value="{{row['kelas']}}">{{row['prodi']}} | {{row['kelas']}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Nama</label>
                          <input type="text" name="inputNama" class="form-control" placeholder="Nama" required>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">NIM</label>
                          <input type="text" name="inputNim" class="form-control" placeholder="NIM" required>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Email</label>
                          <input type="email" name="inputEmail" class="form-control" placeholder="Eemail" required>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label">Password</label>
                          <input type="text" name="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                      </div>
                    </div>
                    <div class="mt-4">
                      <button type="submit" id="btn-2" class="btn btn-primary">Tambahkan Data +</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

      <script>
      (function($){
        $(function(){

          $("#btn-1").on("click", function(event) {
            $('#satu').attr('class', 'd-none');
            $('#dua').attr('class', 'container-fluid mt--6');
          });

        });
      })(jQuery);
    </script>

{% endblock %}
